main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    
    padding-right: 14px !important;

}
Card {
    margin-left: auto;
    margin-right: auto;
}

img#floatpic{
    width: 25px;
    text-align: center;
}

#leavescreencontainer {
    padding-top: 15px;
}

/* .closer {
    width: 350px !important;
} */
/* header a.navbar-brand {
    padding-left: 10px;
} */

.underline {
    color: brown;
    font-weight: 500;
    padding: 3px 0 5px 0;

}

/* add this to the styles to get the carets */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.react-bootstrap-table table {
    table-layout: auto !important;
}